In [1]:
import pandas as pd 
import numpy as np

In [4]:
df1 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2', 'K3'],
'A': ['A0', 'A1', 'A2', 'A3']
})

df2 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2'],
'B': ['B0', 'B1', 'B2']
})

df3 = pd.DataFrame({
'chiave': ['K1', 'K2', 'K4'],
'C': ['C1', 'C2', 'C4']
})



print("Primo data frame: ")
print(df1)


print("\nSecondo data frame: ")
print(df2)


print("\nTerzo data frame: ")
print(df3)

Primo data frame:
  chiave   A
0     K0  A0
1     K1  A1
2     K2  A2
3     K3  A3

Secondo data frame:
  chiave   B
0     K0  B0
1     K1  B1
2     K2  B2

Terzo data frame:
  chiave   C
0     K1  C1
1     K2  C2
2     K4  C4

In [8]:
#Unisci prima df1 e df2 includendo solo le chiavi comuni. Poi, unisci il risultato con df3 includendo tutte le chiavi di df3.

primo_merge = pd.merge(df1, df2, on='chiave')
print("Merge tra primo e seconda data frame: ")
print(primo_merge)

secondo_merge = pd.merge(primo_merge, df3, on='chiave', how='right')

print("\nMerge tra primo, secondo e terzo data frame: ")
print(secondo_merge)

Merge tra primo e seconda data frame:
  chiave   A   B
0     K0  A0  B0
1     K1  A1  B1
2     K2  A2  B2

Merge tra primo, secondo e terzo data frame:
  chiave    A    B   C
0     K1   A1   B1  C1
1     K2   A2   B2  C2
2     K4  NaN  NaN  C4

In [11]:
data = {
'Data': ['2024-01', '2024-01', '2024-02', '2024-02'],
'Categoria': ['A', 'B', 'A', 'B'],
'Valore': [10, 20, 15, 25]
}

df = pd.DataFrame(data)

print("Data frame: ")
print(df)

Data frame:
      Data Categoria  Valore
0  2024-01         A      10
1  2024-01         B      20
2  2024-02         A      15
3  2024-02         B      25

In [ ]:
#Riorganizza il DataFrame in modo che ogni categoria diventi una colonna e i valori siano distribuiti di conseguenza per ogni data.


pivot_df = df.pivot(index='Data', columns='Categoria', values='Valore')
print("Data frame pivotata: ")
print(pivot_df)

Data frame pivotata:
Categoria   A   B
Data
2024-01    10  20
2024-02    15  25

In [16]:
data = {
'Venditore': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie'],
'Mese': ['Gennaio', 'Gennaio', 'Febbraio', 'Febbraio', 'Gennaio'],
'Vendite': [200, 150, 300, 250, 100]
}

df = pd.DataFrame(data)

#Crea una tabella pivot che mostri la somma delle vendite per ogni venditore e mese.

In [17]:
#Crea una tabella pivot che mostri la somma delle vendite per ogni venditore e mese.
pivot_table = pd.pivot_table(df, values='Vendite', index='Venditore', columns='Mese', aggfunc='sum')

print("Tabella pivot:")
print(pivot_table)

Tabella pivot:
Mese       Febbraio  Gennaio
Venditore
Alice         300.0    200.0
Bob           250.0    150.0
Charlie         NaN    100.0