In [1]:
import pandas as pd
import numpy as np

#Creazione del DataFrame
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack', 'Kara', 'Liam'],
'Department': ['HR', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'HR', 'Finance', 'IT'],
'Salary': [50000, 60000, 70000, 52000, 58000, 72000, 55000, 62000, 75000, 51000, 63000, 76000],
'Experience': [2, 5, 8, 3, 4, 10, 4, 6, 12, 1, 7, 15]
}
df = pd.DataFrame(data)
print(df)

       Name Department  Salary  Experience
0     Alice         HR   50000           2
1       Bob    Finance   60000           5
2   Charlie         IT   70000           8
3     David         HR   52000           3
4       Eva    Finance   58000           4
5     Frank         IT   72000          10
6     Grace         HR   55000           4
7    Hannah    Finance   62000           6
8       Ian         IT   75000          12
9      Jack         HR   51000           1
10     Kara    Finance   63000           7
11     Liam         IT   76000          15

In [2]:
#la media dello stipendio e dell'esperienza per ogni dipartimento

media_salario = df.groupby('Department')['Salary'].mean()
media_esperienza = df.groupby('Department')['Experience'].mean()
dataframe_medie = pd.concat([media_salario, media_esperienza], axis=1)

print("Medie: ")
print(dataframe_medie)

Medie:
             Salary  Experience
Department
Finance     60750.0        5.50
HR          52000.0        2.50
IT          73250.0       11.25

In [3]:
#trovare i dipendenti con uno stipendio sopra la media

dipendenti_sopra_media_salario = df[df['Salary'] > df['Salary'].mean()]
print("\nDipendenti con uno stipendio sopra la media:")
print(dipendenti_sopra_media_salario)

Dipendenti con uno stipendio sopra la media:
       Name Department  Salary  Experience
2   Charlie         IT   70000           8
5     Frank         IT   72000          10
8       Ian         IT   75000          12
10     Kara    Finance   63000           7
11     Liam         IT   76000          15

In [ ]:
#aggiungere una nuova colonna che rappresenta il rank (consiglio cercate la funzione rank di pandas) di ogni dipendente all'interno del suo dipartimento

df['Rank'] = df.groupby('Department')['Salary'].rank(ascending=False)

print("DataFrame con nuova colonna 'Rank':")
print(df)

       Name Department  Salary  Experience  Rank
0     Alice         HR   50000           2   4.0
1       Bob    Finance   60000           5   3.0
2   Charlie         IT   70000           8   4.0
3     David         HR   52000           3   2.0
4       Eva    Finance   58000           4   4.0
5     Frank         IT   72000          10   3.0
6     Grace         HR   55000           4   1.0
7    Hannah    Finance   62000           6   2.0
8       Ian         IT   75000          12   2.0
9      Jack         HR   51000           1   3.0
10     Kara    Finance   63000           7   1.0
11     Liam         IT   76000          15   1.0

In [7]:
#mostrare il dataframe raggrupato per dipartimento e ogni dipendente ordinato dal rank più alto a quello più basso

df_dipartimento_rank = df.sort_values(by=['Department', 'Rank'])

print("DataFrame raggruppato per dipartimento e ordinato per rank:")
print(df_dipartimento_rank)

DataFrame raggruppato per dipartimento e ordinato per rank:
       Name Department  Salary  Experience  Rank
10     Kara    Finance   63000           7   1.0
7    Hannah    Finance   62000           6   2.0
1       Bob    Finance   60000           5   3.0
4       Eva    Finance   58000           4   4.0
6     Grace         HR   55000           4   1.0
3     David         HR   52000           3   2.0
9      Jack         HR   51000           1   3.0
0     Alice         HR   50000           2   4.0
11     Liam         IT   76000          15   1.0
8       Ian         IT   75000          12   2.0
5     Frank         IT   72000          10   3.0
2   Charlie         IT   70000           8   4.0