In [1]:
import pandas as pd
import numpy as np

In [ ]:
#Percorso del file CSV
file_path = 'ex1.csv'

# Caricamneto dei dati nel DataFrame
df = pd.read_csv(file_path)

#le prime righe del DataFrame per confermare
print(df.head())

In [ ]:
obj = pd.Series([4,7,-5,3])

print(obj)

In [ ]:
obj.array
print(obj)

In [ ]:
obj2 = pd.Series([4,7,-5,3], index=['a','b','c','d'])

#Printa i numeri maggiori di zero
#obj2[obj2 > 0]

#Moltiplico per 2 i numeri
#print(obj*2)


#Verifica se 'b' Ã¨ presente nel Series
#'b' in obj2

False

In [ ]:
#Conevrto il dizionario in un Series
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
#print(obj3)

#Converto la Series in un dizionario
#obj3.to_dict()

#Modifico gli indci del Series
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
#print(obj4)


#Controllo se sono presenti NaN nella Series
#pd.isna(obj4)
#obj4.isna()

#Controllo se sono presenti NaN nella Series
#pd.notna(obj4)

In [ ]:
#Creare dataFrame
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop' : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
#print(frame)

#Legge le prime 5 righe
#frame.head()

#Legge le ultime 5 righe
#frame.tail()

#Aggiungere una nuova colonna
frame2 = pd.DataFrame(data, columns=['year','state','pop','debt'])
# print(frame2)

#Selezionare una colonna
#frame['state']
#frame.year


#Selezionare una riga
#frame2.loc[2]
#frame2.iloc[2]

#Inserire una nuova riga
# frame2["debt"] = 16.5
# frame2["debt"] = np.arange(6)
# print(frame2)

#eliminare una colonna
#del frame2['debt']

population = { "Ohio" : {2000: 1.5, 2001: 1.5, 2002: 3.6},
               "Nevada" : {2000: 1.5, 2001: 2.9}}

frame3 = pd.DataFrame(population)

print(frame3)


frame3.index.name = 'years'
frame3.columns.name ='states'

print(frame3)

In [32]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd','e'])

print(obj2)

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

obj3.reindex(np.arange(6), method= 'ffill')

In [ ]:
df = pd.DataFrame( [[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.25]], index=['a', 'b', 'c', 'd'], columns=['one', 'two'])
print(df)

df.sum()

df.sum(axis="columns")

df.idxmax()

df.describe()

In [42]:
data = pd.DataFrame({"food":["bacon","pulled pork","bacon","pastrami","corned beef", "bacon", "pastrami", "honey ham", "nova lox"], "ounces":[4,3,12,6,7.5,8,3,5,6]})

print(data)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     pastrami     6.0
4  corned beef     7.5
5        bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
meat_to_animal = {"bacon":"pig", "pulled pork":"pig", "pastrami":"cow", "corned beef":"cow", "honey ham":"pig", "nova lox":"salmon"}


data["animal"] = data["food"].map(meat_to_animal)

print(data)

In [ ]:
serie4 = pd.Series([1.,-999.,2.,-999.,-1000.,3.])

print(serie4)

#serie4.replace([-999,-1000], np.nan, inplace=True)

serie4[serie4 < 1] = np.nan

print(serie4)

In [ ]:
df = pd.DataFrame({"key1":["a", "a", None, "b", "b", "a", None],
                   "key2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),                    
                   "data1" : np.random.standard_normal(7),
                   "data2" : np.random.standard_normal(7)})

print(df)

grouped = df["data1"].groupby(df["key1"])

grouped1 = df["data1"].groupby([df["key1"], df["key2"]])

print(grouped1.mean())